body {
    font-family: Garamond, serif;
    background-color: #FBF2C0;
    color: black
    }
nav {background-color: #f9c5af}
nav {padding: 10px;}
nav {margin-bottom: 10px;}
nav a {
    color: #AB4e68;
    margin-left: 10px;
    margin-right: 10px;
    border: #820443;

}
nav a:hover {background-color: #6faa63;}


h1, h2 {color: #820443}

a {color: #ad5a06}

.group1 {
    display: flex; 
    flex-wrap: wrap;
    /* justify-content: space-between; */
    background-color:#ade4b2;
    border-radius: 1em;
    padding: 20px;
    margin: 35px;
}

.address {font-size: 1.2em;}
.logo {
    margin: 50px;
    font-size: 1.2em;

}


.group2 {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    background-color:#ade4b2;
    border-radius: 1em;
    padding: 20px;
    margin: 35px;
}

.form {
    font-size: 1.2em;
    margin-top: 60px;
}


h1 {font-size: 2em;}
h2 {font-size: 1.5em;}

.evenrow {background-color: lemonchiffon}


.intro {
    margin: 20px;
}

.g1 {
    display: flex;
    flex-basis: 75%;
    justify-content: space-around;
    width: 200px;

}

.g1 div {
    scale: 125%;
    margin-top: 100px;
}



.g2 {
    flex-basis: 15%;
}

aside {
    background-color: #ffc16a;
    border-radius: 1em;
    padding: 10px;
    margin: 10px;
}

aside h2 {margin: 5px;}

.flex2 {display: flex;}

@media screen and (max-width: 800px) {
    nav a {
        display: block;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    span {display: none;}
}
