body {
    font-family: Garamond, serif;
    background-color: #FBF2C0;
    color: black
    }
nav {background-color: #f9c5af}
nav {padding: 10px;}
nav {margin-bottom: 30px;}
nav a {color: #AB4e68}
nav a:hover {background-color: #6faa63;}

h1, h2 {color: #820443}

a {color: #ad5a06}


h1 {font-size: 2em;}
h2 {font-size: 1.5em;}

.evenrow {background-color: lemonchiffon}